@font-face {
    font-family: Coolvetica;
    src: url("../fonts/coolvetica.ttf");
}

:root {
    --primary: #264026;
    --secondary: #c57225;
    --background: #f9f4f4;
    --text: #191e16;
    --text-font: Arial, Helvetica, sans-serif;
    --title-font: Coolvetica;
    --link: #264026;
    --red: rgb(177, 13, 13);
}

* {
    font-family: var(--text-font);
    color: var(--text);
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
    z-index: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Coolvetica;
    color: var(--primary);
    background-color: transparent;
}

i {
    margin-right: 5px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 22%;
    background: white;
    padding: 0px 15px;
    z-index: 99;
}

.sidebar img {
    background-color: white;
    padding: 20px 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
}

.menu-content ul li {
    background-color: white;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-items {
    list-style: none;
    transition: all 0.2s ease;
    background-color: white;
}

.submenu-active .menu-items {
    transform: translateX(-65%);
}

.menu-title {
    color: #fff;
    font-size: 14px;
    padding: 10px 14px;
    background-color: #2a4b2ab9;
}

.menu-title i {
    color: white;
}

.item a,
.submenu-item {
    padding: 10px 14px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    color: var(--link);
    font-size: 14px;
    display: inline-block;
    transform: 0.3s;
}

.red a {
    padding: 10px 14px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    color: var(--red);
    font-size: 14px;
    display: inline-block;
    transform: 0.3s;
}

.item,
.submenu-item {
    margin-bottom: 10px;
}

.submenu .item a i {
    font-size: 5px;
    margin-right: 10px;
}

.submenu .item a {
    display: flex;
    align-items: center;
}

.item i {
    color: var(--link);
    font-size: 12px;
    background-color: white;
}

.red i {
    color: var(--red);
    font-size: 12px;
    background-color: white;
}

.submenu-item i {
    background-color: white;
    color: var(--link);
}

.submenu-item span {
    color: var(--link);
    background-color: white;
    font-size: 14px;
}

.item a:hover,
.item a:hover i,
.submenu-item:hover,
.submenu-item:hover span,
.submenu-item:hover i,
.submenu .menu-title:hover {
    background-color: var(--primary);
    color: white;
    transition: 0.2s;
}

.red a:hover,
.red a:hover i,
.red:hover {
    background-color: var(--red);
    color: white;
    border-radius: 10px;
    transition: 0.1s;
}

.logout a,
.logout a:hover {
    margin-top: 30px;
    background-color: rgba(181, 24, 24, 0.842);
    color: white;
}

.logout a i,
.logout a:hover i {
    background-color: transparent;
    color: white;
    margin-right: 5px;
}

.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 2.2%);
    height: calc(100% + 100vh);
    background: white;
    display: none;
}

.show-submenu~.submenu {
    display: block;
}

.submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 5px;
}

.submenu .menu-title i {
    margin-right: 10px;
    background-color: #92a79200;
    color: white;
}

.main {
    left: 22%;
    width: calc(100% - 22%);
    transition: all 0.2s ease;
    z-index: 1000;
    background-color: var(--background);
}

.main {
    position: relative;
    min-height: 100vh;
    z-index: 100;
}

.submenu .item {
    margin-top: 10px;
}

input,
select {
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 8px;
    outline: none;
    background-color: var(--background);
}

table,
td,
th,
tr {
    background-color: transparent;
}

tr {
    border-bottom: thin solid #F1F1F1;
}

.local,
.champs,
.charge {
    width: 100%;
    padding: 4px 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9px;
    background-color: var(--secondary);
}

.exportation,
.entrepot,
.produit {
    width: 100%;
    padding: 4px 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9px;
    background-color: var(--primary);
}

.link-redirect {
    color: white;
    background-color: var(--link);
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.link-redirect i {
    color: white;
}

.link-redirect:hover {
    color: white;
}

select,
option {
    color: #757575;
}

label {
    color: #92A792;
    font-size: 14px;
    width: 200px;
}

.label {
    color: #92A792;
    font-size: 14px;
}

.labelH2,
.labelH22 {
    color: var(--secondary);
    font-size: 25px;
}

.nom {
    color: #017c3f;
    font-family: Coolvetica;
}

.salaire {
    font-size: 20px;
    color: rgb(0, 96, 141);
}

.temps {
    font-size: 20px;
    color: #0b9450;
}

.entree_sortie {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10%;
}

.filtre_date {
    padding: 25px 0;
}

.search_icon {
    width: 22px;
    height: 22px;
    background: transparent;
    /* padding: 5px; */
    margin-right: 12px;
}

.detail_icon {
    width: 17px;
    height: 17px;
    background: transparent;
    /* padding: 5px; */
    margin-right: 2px;
}

.searchbar {
    background: var(--background);
    border: none;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    width: max-content;
    height: max-content;
}

.btn-1 {
    background-color: var(--primary);
    color: white;
    padding: 10px 30px;
}

.btn-2 {
    background-color: rgb(200, 31, 31);
    color: white;
    padding: 8px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-2:hover {
    color: white;
}

.btn-2 i {
    margin: 0;
}

.btn-3 {
    background-color: var(--primary);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
}

.btn-3:hover {
    color: white;
}

.btn-3 i {
    margin: 0;
}

.btn-4 {
    background-color: var(--secondary);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-4:hover {
    color: white;
}

.btn-4 i {
    margin: 0;
}

.btn-7 {
    background-color: rgb(209, 209, 209);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-7:hover {
    color: white;
}

.btn-7 i {
    margin: 0;
}

.btn-submit {
    background-color: #d1926b;
    color: white;
    padding: 6px 20px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
}

.btn-submit:hover {
    color: white;
    background: var(--secondary);
}

.btn-submit i {
    margin: 0;
}

.link {
    width: 30px;
    height: 30px;
}

.success {
    color: white;
    background-color: var(--primary);
    font-size: 14px;
    width: 200px;
    padding: 3px 0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    gap: 1;
    align-items: center;
    justify-content: center;
}

.error {
    color: white;
    background-color: rgb(200, 31, 31);
    font-size: 14px;
    width: 200px;
    padding: 3px 0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    gap: 1;
    align-items: center;
    justify-content: center;
}

.success i,
.error i {
    color: white;
    font-size: 12px;
}

.etat-card {
    background-color: #eb7d380a;
    border-radius: 5px;
    padding: 20px 30px;
    width: calc(100% / 3);
}

.img {
    position: relative;
    color: var(--background);
    font-size: 75px;
    top: 25%
}

.lb-img {
    width: 100%;
}

.img-box {
    padding: 10%;
    border-radius: 5px;
    background-color: rgb(41, 41, 41);
    text-align: center;
    height: 200px;
    position: relative;
    width: 100%;
}

.img-box:hover,
#input-img:hover {
    cursor: pointer;
}

.fa-check,
.fa-x {
    color: white;
    font-size: 20px;
    left: 10%;
    position: relative;
}

.btn-5 {
    background-color: var(--primary);
    text-align: center;
    color: white;
    border: none;
    padding: 20px;
}

.btn-6 {
    background-color: var(--secondary);
    text-align: center;
    color: white;
    border: none;
    padding: 20px;
}

.submit {
    justify-content: space-evenly;
}

.genger {
    font-size: 20px;
    padding: 20%;
    border-radius: 100%;
}

.H {
    border: 2px solid rgb(38, 38, 112);
    color: rgb(38, 38, 112);
}

.F {
    border: 2px solid rgb(171, 12, 100);
    color: rgb(171, 12, 100);
    padding: 20% 22%;
}

.genre {
    padding-left: 7%;
    justify-content: space-evenly;
}

.genger:hover {
    cursor: pointer;
}

#Ha {
    background-color: rgb(38, 38, 112);
}

#Fa {
    background-color: rgb(171, 12, 100);
}

#message-valid {
    color: green;
}

#message-invalid {
    color: red;
}

.line {
    width: 100%;
    border-bottom: thin solid rgba(128, 128, 128, 0.297);
}

.popup {
    width: max-content;
    min-height: 100px;
    max-height: max-content;
    color: rgb(143, 93, 0);
    position: fixed;
    top: 20%;
    right: 10px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Coolvetica;
    z-index: 5;
}

#calendar2 {
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-collapse: collapse;
}

#calendar2 th,
#calendar2 td {
    width: calc(100% / 7);
}

#calendar2 td {
    width: calc(100% / 7);
    border: 3px solid rgb(255, 255, 255);
    padding: 8px;
}

#calendar2 th {
    background: var(--secondary);
}

#calendar2 td {
    border-radius: 5px;
    height: 100px;
    transition: all .3s ease .1s;
}

#calendar2 td .jour {
    color: rgb(25, 97, 156);
    font-family: Coolvetica;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
}

#calendar2 td .duree {
    color: rgb(41, 41, 41);
    font-family: Coolvetica;
}

#calendar2 td .entree,
#calendar2 td .sortie {
    color: white;
}

#calendar2 td:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

#calendar2 td:hover .jour,
#calendar2 td:hover .duree {
    color: white;
}

.empty-cell {
    background-color: white;
    ;
    /* Couleur de fond grise */
    color: #555;
    /* Couleur de texte gris foncé */
}

.empty-cell:hover {
    background: white;
}

.background_calendar {
    background: var(--secondary);
    color: rgb(255, 255, 255);
}

#calendar2 td:hover {
    background-color: var(--primary);
    color: white;
}

.custom-div {
    width: 60%;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(182, 182, 182);
}

.salaire_temps {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.payer {
    padding: 10px 25px;
    font-weight: bold;
}

.payer:hover {
    background: var(--secondary);
}

.interaction {
    display: flex;
    /* justify-content: center; */
    padding-right: 2rem;
    gap: 1rem;
}